{{extend 'layout.html'}}
<style>
/*Business Card Css */
.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.profile-img {
  height: 120px;
  background: white;
}
.job {
  color: #666666;
  font-size: 17px;
}
.mail {
  font-size: 16px;
 }
</style>
{{if auth.is_logged_in():}}
<h1>
    WhenIf History:
</h1>
<br>
	<div class="row">
        {{if len(history) > 0:}}
            {{for h in history:}}
            <div class="col-sm-3">
                <div class="business-card">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="media-heading">{{=h.major}}</h2>
                            <div class="job">{{=h.concentration}}</div>
                            <div class="mail"><b>Starting Quarter:</b> {{=h.quarter}}</div>
                            <div><b>Number of Classes Per Quarter:</b> {{=h.courses}}</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            {{pass}}
        {{else:}}
            <img src="http://cdn.niketalk.com/b/b4/900x900px-LL-b4043091_emptybox.gif"/>
            <h3>
                Sorry you haven't ran any WhenIf. Head over to search to run a WhenIf.
            </h3>
        {{pass}}
	</div>
{{else:}}
<div class="container-fluid">
            <h1>When If</h1>
            <br>

   <div class="row">
	<img src="https://www.depaul.edu/PublishingImages/homepage-splash/nationallyJan.png" class="img-responsive">
   </div>
    <div class="row">
<h5>
    What-If Degree Progress Report
</h5>

<p>
    If you are thinking about changing your major or adding a major or minor, first run a What-If Degree Progress Report to see how this change might impact your time to graduation.
</p>

<p>
    Please note that previously approved substitutions may need to be reevaluated after you officially change your major. Be sure to consult with an advisor about the change.
</p>

<p>
    Change College, Major or Minor
</p>

<p>
    To officially change your college, major, minor and/or concentration use the Declarations and Inter-College Transfer Tool. To use the tool you must be a current, degree-seeking undergraduate student and have never applied for degree conferral/graduation.</p>

<p>
    View the What-If and Change College, Major or Minor video
</p>

    </div>
</div>

{{pass}}
